<ion-content class="ion-padding">

  <!-- TÍTULO -->
  <h1 class="titulo">Recall Equipe</h1>

  <!-- DESCRIÇÃO -->
  <p class="descricao">
    O Recall é um aplicativo mobile de flashcards voltado para preparação
    de entrevistas técnicas na área de TI, permitindo aprendizado de forma
    leve, repetitiva e eficiente.
  </p>

  <!-- EQUIPE -->
  <div class="equipe">

    <!-- PAMELA -->
    <ion-card class="card perfil pamela">
      <div class="avatar">
        <img src="assets/img/pamela.jpeg" />
      </div>

      <ion-card-header>
        <ion-card-title>Pamela Amancio Goulart</ion-card-title>
        <ion-card-subtitle>Desenvolvedora</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-button
          fill="clear"
          href="https://github.com/Paamzzz"
          target="_blank">
          <ion-icon name="logo-github" size="large" class="github-icon"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>

    <!-- JOÃO -->
    <ion-card class="card perfil joao">
      <div class="avatar">
        <img src="assets/img/joao.jpeg" />
      </div>

      <ion-card-header>
        <ion-card-title>João Pedro Rangel</ion-card-title>
        <ion-card-subtitle>Desenvolvedor</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-button
          fill="clear"
          href="https://github.com/7JPRBM7"
          target="_blank">
          <ion-icon name="logo-github" size="large" class="github-icon"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>

    <!-- JOYCE -->
    <ion-card class="card perfil joyce">
      <div class="avatar">
        <img src="assets/img/joyce.jpeg" />
      </div>

      <ion-card-header>
        <ion-card-title>Joyce do Vale Silva</ion-card-title>
        <ion-card-subtitle>Desenvolvedora</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-button
          fill="clear"
          href="https://github.com/J01C3"
          target="_blank">
          <ion-icon name="logo-github" size="large" class="github-icon"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
