@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

:host {
  --bg: #f4f4f8;
  --text: #232323;
  --muted: #6f6f6f;
  --primary: #6b6cff;
}

/* =========================
   CONTENT
========================= */

.biblioteca-content {
  --background: var(--bg);
}

.biblioteca-content::part(scroll) {
  padding: 22px 18px 120px;
}

/* =========================
   MENU
========================= */

ion-menu {
  --width: 290px;
  --border: none;
}

ion-menu ion-content {
  --background:
    linear-gradient(
      180deg,
      #f8f8ff 0%,
      #f3f4ff 100%
    );
}

/* HEADER */

.menu-header {
  position: relative;

  padding: 78px 24px 32px;

  background:
    linear-gradient(
      135deg,
     #f18701 0%,
      #d57900 100%
    );

  overflow: hidden;
}

.menu-header::before {
  content: '';

  position: absolute;

  width: 180px;
  height: 180px;

  top: -70px;
  right: -70px;

  border-radius: 50%;

  background: rgba(255,255,255,0.08);
}

.menu-header::after {
  content: '';

  position: absolute;

  width: 120px;
  height: 120px;

  bottom: -40px;
  left: -30px;

  border-radius: 50%;

  background: rgba(255,255,255,0.06);
}

.menu-header h2 {
  position: relative;
  z-index: 2;

  margin: 0;

  color: #ffffff;

  font-size: 2rem;
  font-weight: 800;

  letter-spacing: -0.5px;
}

/* LIST */

ion-menu ion-list {
  background: transparent;

  padding: 18px 14px;
}

/* ITEMS */

ion-menu ion-item {
  --background: rgba(255,255,255,0.72);
  --padding-start: 18px;
  --inner-padding-end: 14px;
  --min-height: 60px;
  --border-radius: 18px;

  margin: 10px 0;

  border: 1px solid rgba(107,108,255,0.08);

  backdrop-filter: blur(10px);

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background 0.2s ease;

  box-shadow:
    0 4px 10px rgba(0,0,0,0.03);
}

ion-menu ion-item:hover {
  --background: #ffffff;

  transform: translateX(4px);

  box-shadow:
    0 8px 18px rgba(107,108,255,0.12);
}

ion-menu ion-item:active {
  transform: scale(0.98);
}

/* ICON */

ion-menu ion-icon {
  color: #f18701;

  font-size: 1.25rem;

  padding: 10px;

  border-radius: 12px;

  background: rgba(107,108,255,0.1);

  box-shadow:
    inset 0 0 0 1px rgba(107,108,255,0.05);
}

.logout-item ion-icon {
  color: #e53935;
  background: rgba(229, 57, 53, 0.1);
}

.logout-item ion-label {
  color: #e53935;
  font-weight: 700;
}

/* LABEL */

ion-menu ion-label {
  margin-left: 14px;

  color: #2c2c38;

  font-size: 0.96rem;
  font-weight: 700;

  letter-spacing: 0.1px;
}

/* =========================
   HEADER
========================= */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 22px 22px;

  background: #ffffff;

  margin: -22px -18px 0;

  box-shadow: 0 2px 10px rgba(0,0,0,0.03);
}

.header h1 {
  margin: 0;
  margin-top: 35px;

  font-size: 1.7rem;
  font-weight: 700;

  color: #3f3b97;
}

.avatar {
  width: 48px;
  height: 48px;

  margin-top: 35px;

  border-radius: 50%;

  background: linear-gradient(
    135deg,
    #8bb3ff 0%,
    #8bb3ff 50%,
    #f6b23d 50%,
    #f6b23d 100%
  );

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;

  cursor: pointer;

  transition: 0.2s ease;
}

.avatar:active {
  transform: scale(0.94);
}

.avatar ion-icon {
  font-size: 22px;
  color: #111;
}

/* =========================
   SEARCH
========================= */

.search-area {
  display: flex;
  align-items: center;

  gap: 12px;

  margin-top: 28px;
}

.search-box {
  flex: 1;

  height: 46px;

  padding: 0 14px;

  border-radius: 14px;

  background: #ffffff;

  border: 1px solid #e4e4e7;

  display: flex;
  align-items: center;

  gap: 10px;

  box-shadow: 0 2px 8px rgba(0,0,0,0.03);
}

.search-box ion-icon {
  font-size: 1.1rem;
  color: #8d8d8d;
}

.search-box input {
  width: 100%;

  border: none;
  outline: none;

  background: transparent;

  font-size: 0.92rem;
  color: #444;
}

.filter-btn {
  width: 44px;
  height: 44px;

  border: none;
  border-radius: 14px;

  background: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 2px 8px rgba(0,0,0,0.03);
}

.filter-btn ion-icon {
  font-size: 1.2rem;
  color: #4b4b4b;
}

/* =========================
   LIBRARY CARD
========================= */

.library-card {
  position: relative;

  margin-top: 42px;

  padding-top: 12px;

  transition: 0.25s ease;
}

.library-card:active {
  transform: scale(0.985);
}

/* =========================
   STACK EFFECT
========================= */

.stack-card {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);

  border-radius: 20px;

  background: #ffffff;
  border: 1px solid #ececec;

 
}

/* camada 1 */

.stack-1 {
  width: 88%;
  height: 100%;

  top: -12px;

  opacity: 0.3;

  z-index: 1;
   box-shadow: 10px 0px 25px rgba(0,0,0,0.06);
}

/* camada 2 */

.stack-2 {
  width: 92%;
  height: 100%;

  top: -8px;

  opacity: 0.5;

  z-index: 2;
   box-shadow: 10px 0px 25px rgba(0,0,0,0.06);
}

/* camada 3 */

.stack-3 {
  width: 96%;
  height: 100%;

  top: -4px;

  opacity: 0.7;

  z-index: 3;
   box-shadow: 10px 0px 25px rgba(0,0,0,0.06);
}

/* camada 4 */

.stack-4 {
  width: 98%;
  height: 100%;
  top: -2px;

  opacity: 0.9;

  z-index: 4;
   box-shadow: 10px 0px 25px rgba(0,0,0,0.06);
}


/* =========================
   CARD PRINCIPAL
========================= */

.card-body {
  position: relative;

  z-index: 10;

  background: #ffffff;

  border-radius: 20px;

  min-height: 160px;

  padding: 18px 16px 16px;

  border: 1px solid #ececec;

  overflow: hidden;

  box-shadow:
    0 10px 25px rgba(0,0,0,0.06);
}

/* barra lateral */

.card-body::before {
  content: '';

  position: absolute;

  left: 0;
  top: 0;
  bottom: 0;

  width: 4px;
}

.library-card.purple .card-body::before {
  background: #6b6cff;
}

.library-card.orange .card-body::before {
  background: #ff9800;
}

/* =========================
   TOP
========================= */

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  gap: 14px;
}

.top-row h2 {
  margin: 0;

  font-size: 1.05rem;
  font-weight: 700;

  color: #1f1f1f;

  line-height: 1.3;
}

.subtitle {
  margin: 6px 0 0;

  font-size: 0.78rem;
  font-weight: 500;

  color: #666;

  line-height: 1.45;
}

/* =========================
   TAGS
========================= */

.tags {
  display: flex;
  align-items: center;

  gap: 14px;

  flex-wrap: wrap;

  margin-top: 16px;

  padding-top: 14px;

  border-top: 1px solid #ededed;
}

.tag-item {
  display: flex;
  align-items: center;

  gap: 5px;

  font-size: 0.68rem;
  font-weight: 600;

  color: #777;
}

.tag-item ion-icon {
  font-size: 0.82rem;
}

.tag-pill {
  padding: 5px 10px;

  border-radius: 999px;

  font-size: 0.65rem;
  font-weight: 700;
}

.purple-pill {
  background: #efebff;
  color: #7a67ff;
}

.orange-pill {
  background: #fff0db;
  color: #ff9800;
}

/* =========================
   STATUS
========================= */

.status {
  padding: 6px 12px;

  border-radius: 999px;

  font-size: 0.68rem;
  font-weight: 700;

  white-space: nowrap;
}

.blue {
  background: #dfe9ff;
  color: #5a84ff;
}

.cyan {
  background: #def7ff;
  color: #66b9d6;
}

.purple-status {
  background: #f0dcff;
  color: #a64dff;
}

/* =========================
   PROGRESS
========================= */

.progress-area {
  margin-top: 18px;
}

.progress-top {
  display: flex;
  justify-content: space-between;

  margin-bottom: 8px;

  font-size: 0.68rem;
  font-weight: 600;

  color: #666;
}

.progress-bar {
  width: 100%;
  height: 5px;

  background: #ececec;

  border-radius: 999px;

  overflow: hidden;
}

.progress {
  height: 100%;

  border-radius: 999px;
}

.purple-progress {
  width: 72%;
  background: #6b6cff;
}

.orange-progress {
  width: 70%;
  background: #ff9800;
}

//  LOADING ANIMATION
.estado-info {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.dot-spinner {
  --uib-size: 3.2rem;
  --uib-speed: .9s;
  --uib-color: #bebebe;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}
