<ion-content [fullscreen]="true" class="biblioteca-content">

  <!-- HEADER -->
  <div class="header">
    <h1>Biblioteca</h1>

    <div class="avatar">
      <ion-icon name="happy-outline"></ion-icon>
    </div>
  </div>

  <!-- SEARCH -->
  <div class="search-area">

    <div class="search-box">
      <ion-icon name="search-outline"></ion-icon>
      <input type="text" placeholder="Pesquisar">
    </div>

    <button class="filter-btn">
      <ion-icon name="filter-outline"></ion-icon>
    </button>

  </div>

  <!-- CARD -->
  <div class="library-card purple">

    <div class="stack-card stack-1"></div>
    <div class="stack-card stack-2"></div>

    <div class="card-body">

      <div class="top-row">
        <h2>Entrevista Frontend</h2>

        <span class="status blue">
          Pleno
        </span>
      </div>

      <p class="subtitle">
        Frontend Developer - React & TypeScript
      </p>

      <div class="tags">

        <div class="tag-item">
          <ion-icon name="document-text-outline"></ion-icon>
          <span>15 cards</span>
        </div>

        <div class="tag-item">
          <ion-icon name="time-outline"></ion-icon>
          <span>Hoje</span>
        </div>

        <span class="tag-pill purple-pill">
          Técnica
        </span>

      </div>

      <div class="progress-area">

        <div class="progress-top">
          <span>Progresso</span>
          <span>10/15</span>
        </div>

        <div class="progress-bar">
          <div class="progress purple-progress"></div>
        </div>

      </div>

    </div>

  </div>

  <!-- CARD -->
  <div class="library-card orange">

    <div class="stack-card stack-1"></div>
    <div class="stack-card stack-2"></div>
    <div class="stack-card stack-3"></div>
    <div class="stack-card stack-4"></div>

    <div class="card-body">

      <div class="top-row">
        <h2>Soft Skills & Comportamental</h2>

        <span class="status purple-status">
          Sênior
        </span>
      </div>

      <p class="subtitle">
        Qualquer cargo - Habilidades interpessoais
      </p>

      <div class="tags">

        <div class="tag-item">
          <ion-icon name="document-text-outline"></ion-icon>
          <span>15 cards</span>
        </div>

        <div class="tag-item">
          <ion-icon name="time-outline"></ion-icon>
          <span>Hoje</span>
        </div>

        <span class="tag-pill orange-pill">
          Comportamental
        </span>

      </div>

      <div class="progress-area">

        <div class="progress-top">
          <span>Progresso</span>
          <span>10/15</span>
        </div>

        <div class="progress-bar">
          <div class="progress orange-progress"></div>
        </div>

      </div>

    </div>

  </div>

  <!-- CARD -->
  <div class="library-card purple">

    <div class="stack-card stack-1"></div>
    <div class="stack-card stack-2"></div>

    <div class="card-body">

      <div class="top-row">
        <h2>Entrevista Frontend</h2>

        <span class="status cyan">
          Junior
        </span>
      </div>

      <p class="subtitle">
        Frontend Developer - React & TypeScript
      </p>

      <div class="tags">

        <div class="tag-item">
          <ion-icon name="document-text-outline"></ion-icon>
          <span>15 cards</span>
        </div>

        <div class="tag-item">
          <ion-icon name="time-outline"></ion-icon>
          <span>Hoje</span>
        </div>

        <span class="tag-pill purple-pill">
          Técnica
        </span>

      </div>

      <div class="progress-area">

        <div class="progress-top">
          <span>Progresso</span>
          <span>10/15</span>
        </div>

        <div class="progress-bar">
          <div class="progress purple-progress"></div>
        </div>

      </div>

    </div>

  </div>

</ion-content>

<!-- FOOTER -->
<ion-footer>
  <ion-toolbar>

    <ion-tab-bar>

  <ion-tab-button tab="home" [routerLink]="['/home']">
    <ion-icon name="home-outline"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="biblioteca" [routerLink]="['/biblioteca']" selected="true">
    <ion-icon name="library-outline"></ion-icon>
    <ion-label>Biblioteca</ion-label>
  </ion-tab-button>

</ion-tab-bar>

  </ion-toolbar>
</ion-footer>
