       <ion-tabs>
          <ion-tab-bar slot="bottom">
               <ion-tab-button tab="home">
                    <ion-icon name="home"></ion-icon>
                    Home
               </ion-tab-button>
               <ion-tab-button tab="trilha">
                    <ion-icon name="albums-outline"></ion-icon>
                    Trilhas
               </ion-tab-button>
               <ion-tab-button tab="sobre">
                    <ion-icon name="people-outline"></ion-icon>
                    Sobre
               </ion-tab-button>
          </ion-tab-bar>
     </ion-tabs>
