<!-- MENU LATERAL -->
    <ion-menu
      side="start"
      menuId="home-menu"
      contentId="home-content"
    >
      <ion-content>

        <div class="menu-header">
          <h2>Menu</h2>
        </div>

        <ion-list lines="none">

      <!-- SOBRE NÓS -->
      <ion-item
        button
        [routerLink]="['/sobre']"
      >
        <ion-icon
          slot="start"
          name="information-circle-outline"
        ></ion-icon>

        <ion-label>Sobre nós</ion-label>
      </ion-item>

      <!-- GITHUB -->
      <ion-item
        button
        (click)="openGithub()"
      >
        <ion-icon
          slot="start"
          name="logo-github"
        ></ion-icon>

        <ion-label>Mais</ion-label>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-menu>

<!-- CONTEÚDO -->
<ion-content
  id="home-content"
  [fullscreen]="true"
  class="home-content"
>

  <!-- HEADER -->
  <div class="header">
    <div>
      <p class="greeting">Bom dia 👋</p>
      <h1>Lorem Ipsum</h1>
    </div>

    <!-- AVATAR ABRE MENU -->
    <div
      class="avatar"
      (click)="openMenu()"
    >
      <ion-icon name="happy-outline"></ion-icon>
    </div>
  </div>

  <!-- SUGESTÃO -->
  <div class="section">
    <p class="section-title">SUGESTÃO DE HOJE</p>

    <div class="video-card">

      <!-- VIDEO FUNDO -->
      <video
        autoplay
        muted
        loop
        playsinline
        webkit-playsinline
        preload="auto"
        class="card-video"
      >
        <source src="assets/video/gradient-mesh.mp4" type="video/mp4">
      </video>

      <!-- OVERLAY -->
      <div class="overlay"></div>

      <!-- CONTEÚDO -->
      <div class="card-content">
        <p class="small-title">DECK RECOMENDADO</p>

        <h2>Entrevista Frontend</h2>

        <p class="subtitle">
          Frontend Developer • React & TypeScript
        </p>

        <div class="tags">

          <div class="tag-item">
            <ion-icon name="albums-outline"></ion-icon>
            <span>15 cards</span>
          </div>

          <div class="tag-item">
            <ion-icon name="time-outline"></ion-icon>
            <span>Hoje</span>
          </div>

          <div class="tag-pill">
            Técnica
          </div>

        </div>

        <div class="progress-area">
          <div class="progress-top">
            <span>Progresso</span>
            <span>0/5</span>
          </div>

          <div class="progress-bar">
            <div class="progress"></div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- DICA -->
  <div class="section">
    <p class="section-title">DICA DO DIA</p>

    <div class="tip-card">

      <div class="tip-icon">
        💡
      </div>

      <div class="tip-content">

        <div class="tip-header">
          <h3>Dica para entrevistas</h3>
          <ion-icon name="sparkles"></ion-icon>
        </div>

           <!-- Loader enquanto busca -->
      <p *ngIf="carregando">Buscando dica...</p>


        <p *ngIf="!carregando">{{ dica }}</p>

      </div>

    </div>
  </div>

  <!-- PROGRESSO -->
  <div class="section">
    <p class="section-title">PROGRESSO DA SEMANA</p>

    <div class="progress-card">

      <div class="left">
        <p>Você alcançou...</p>

        <h2>84%</h2>

        <span>de acertos nesta semana.</span>
      </div>

      <div class="circle-chart">
        <div class="circle"></div>
      </div>

    </div>
  </div>

</ion-content>
